<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Learning TestNG">

	<listeners>

		<listener class-name="ListenersDemo.ListenersTestNG"></listener>
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>

	</listeners>

	<test name="Bank Manager Login Test">
		<classes>
			<class name="BankingApp.BankManagerLoginTest" />
		</classes>
	</test>



	<test name="Add Customer Test">
		<classes>
			<class name="BankingApp.AddCustomerDetails" />
		</classes>
	</test>



	<test name="Open Account Test">
		<classes>
			<class name="BankingApp.OpenBankAccount" />
		</classes>
	</test>


</suite>
