<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Learning TestNG">

	<listeners>

		<listener class-name="ListenersDemo.ListenersTestNG"></listener>
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>

	</listeners>

	<test name="First TestNG Test">
		<classes>
			<class name="com.Testng.Programs.FirstTestNG" />
		</classes>
	</test>



	<test name="Data Parameterization 1">
		<classes>
			<class name="com.Testng.Programs.DataProvider1" />
		</classes>
	</test>



	<!-- <test name="Open Account Test">
		<classes>
			<class name="BankingApp.OpenBankAccount" />
		</classes>
	</test> -->


</suite>
